* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body { */
  /* background-color: #000;
  align-items: center;
  justify-content: center;
} */
.calculator-container {
    background-color: black;
  margin-left: 20px;
  width: 270px;
  height: auto;
  border: solid 1px gray;
  border-radius: 2%;
}
.calculator-container .inputscreen {
  width: 100%;
  height: 50px;
  border: solid 1px grey;
  background-color: blue;
  color: white;
   align-items: center;
   justify-content: right;
   /* justify-content: end; */
 
}
.calculator-container .buttons-container {
  width: 100%;
  display: flex-wrap;
  justify-content: space-between;
}

.btn {
  background-color: white;
  flex: 1;
  padding: 5px;
  margin: 2px;
  width: 60px;
  height: 50px;
  align-items: center;
  border-radius: 20%;
}
